<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2017.Company name All rights reserved.

            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="about-us.html">关于</a></li>
                    <li><a href="services.html">服务</a></li>
                    <li><a href="portfolio.html">案例</a></li>
                    <li><a href="blog.html">新闻</a></li>
                    <li><a href="contact-us.html">联系</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="{MZC_PATH}js/jquery.js"></script>
<script src="{MZC_PATH}js/bootstrap.min.js"></script>
<script src="{MZC_PATH}js/jquery.prettyPhoto.js"></script>
<script src="{MZC_PATH}js/jquery.isotope.min.js"></script>
<script src="{MZC_PATH}js/main.js"></script>
<script src="{MZC_PATH}js/wow.min.js"></script>
</body>
</html>