<footer id="footer" class="midnight-blue" style="position: relative;bottom:0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2015.mengzhicheng jianshe gongcheng All rights reserved.

            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">首页</a></li>
                    {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
                    {loop $data $r}
                    <li><a href="{$r[url]}">{substr($r[catname],0,6)}</a></li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="{MZC_PATH}js/jquery.js"></script>
<script src="{MZC_PATH}js/bootstrap.min.js"></script>
<script src="{MZC_PATH}js/jquery.prettyPhoto.js"></script>
<script src="{MZC_PATH}js/jquery.isotope.min.js"></script>
<script src="{MZC_PATH}js/main.js"></script>
<script src="{MZC_PATH}js/wow.min.js"></script>
</body>
</html>