{template "content","header"}
<section id="contact-info">
    <div class="center">
        <h2>联系我们</h2>
        <p class="lead">与我们联系获取优质的服务</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-center">
                    <div class="map">
                        <iframe scrolling="no" marginheight="0" marginwidth="0" src="{MZC_PATH}map/map.html" frameborder="0"></iframe>
                    </div>
                </div>

                <div class="col-sm-4 map-content">
                    <ul class="row">
                        <li class="col-sm-12">
                            {pc:get sql="SELECT * FROM v9_category WHERE parentid=23 ORDER BY catid ASC"}
                            {loop $data $v}
                            <address>
                                <h2>{$v[catname]}</h2>
                                <pre style="border:0;background-color: rgba(255, 255, 255, 0);">{$v[description]}</pre>
                            </address>
                            {/loop}
                            {/pc}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{template "content","footer"}